{% extends 'appbase.html' %}

{% block content %}

<div class="abs">
    <div class="rel">
        <p>Pełna lista Kunderów:</p>
    </div>
    <div class="rel">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-header">
              <tr>
                <th scope="col"><b class="table-header-text">Czy Natka ma?</b></th>
                <th scope="col"><b class="table-header-text">Tytuł</b></th>
              </tr>
            </thead>
            <tbody>
            {% for book in books %}
            <tr>
                <td class="table-text">Tak</td>
                <td class="table-text">{{ book.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>



{% endblock %}